/** ---- Generic css ---- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::after,
::before {
	box-sizing: inherit;
}

:root {
	--primary-color: #ffffff;
	--secondary-color: #000000;
	--tertiary-color: #439ee5;
	--light-greyish-color: #f6f8f8;
	--underline-color: #e34636;
}

html {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	text-rendering: optimizeLegibility;
}

/** ---- Utility css ---- */
a {
	text-decoration: none;
	text-transform: uppercase;
}

li {
	list-style: none;
}

/** ---- Header Start ---- */

#header {
	width: 100%;
	background-color: var(--secondary-color);
}

.navbar {
	width: 90%;
	height: 12vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-container {
	display: none;
}

.hamburger i {
	font-size: 1.8rem;
	color: var(--primary-color);
}

.raw-logo {
	height: 80%;
}

.raw-logo img {
	height: 100%;
}

/* 
.nav-container {
	width: 50%;
	font-size: 0.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

.raw-logo {
	width: 150px;
	height: 100%;
}

.raw-logo img {
	height: 100%;
}
*/

/** ---- Header End ---- */

/** ---- Main Start ---- */
#main {
	width: 100%;
	min-height: calc(100vh - 10vh);
}

.banner {
	width: 100%;
	height: 50vh;
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner-img {
	width: 100%;
	height: 40vh;
	background-image: url("../images/banner-min.jpeg");
	background-position: center;
	background-size: cover;
	position: relative;
	/* background-color: blue; */
}

.banner-img::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--secondary-color);
	opacity: 0.3;
}

.banner-title {
	width: 100%;
	height: 12vh;
	text-align: center;
	padding: 12px;
	color: var(--primary-color);
	/* background-color: yellow; */
}

/** about section start */
.title-lineover {
	position: relative;
}

.title-lineover:not(.left) {
	text-align: center;
}

.title-lineover:not(.left):after {
	left: 50%;
	transform: translateX(-50%);
}

.title-lineover:after {
	content: "";
	width: 80px;
	background: var(--underline-color);
	height: 2px;
	top: -22px;
	position: absolute;
}

.about {
	width: 100%;
	height: auto;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-title {
	width: 80%;
	margin-bottom: 20px;
	text-align: center;
}

.about-text {
	font-size: 1.05rem;
	line-height: 1.5rem;
	text-align: center;
}

/* .gallery {
	width: 100%;
	min-height: 60vh;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 5px;
	padding: 30px 0;
}

.one {
	background-color: #e34636;
	grid-column: span 3;
	grid-row: span 5;
	background-image: url("../images/1.jpeg");
	background-position: center;
	background-size: cover;
}

.two {
	background-color: aqua;
	grid-column: span 2;
	grid-row: span 3;
	background-image: url("../images/2.jpeg");
	background-position: top;
	background-size: cover;
}

.three {
	background-color: blue;
	grid-column: span 2;
	grid-row: span 2;
	background-image: url("../images/3.jpeg");
	background-position: center;
	background-size: cover;
}

.four {
	background-color: chocolate;
	grid-column: span 2;
	grid-row: span 3;
	background-image: url("../images/4.jpeg");
	background-position: center;
	background-size: cover;
}

.five {
	background-color: darkgreen;
	grid-column: span 2;
	grid-row: span 2;
	background-image: url("../images/5.jpeg");
	background-position: top;
	background-size: cover;
} */

.gallery {
	width: 100%;
	min-height: 100vh;
	margin-top: 25px;
}

.gallery-box {
	width: 100%;
	height: 250px;
	margin-bottom: 15px;
	background-position: center;
	background-size: cover;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}

.gallery-box:last-child {
	margin-bottom: 0;
}

.one {
	background-image: url("../images/1-min.jpeg");
}

.two {
	background-image: url("../images/2-min.jpeg");
	background-position: top;
}

.three {
	background-image: url("../images/3-min.jpeg");
}

.four {
	background-image: url("../images/4-min.jpeg");
}

.five {
	background-image: url("../images/5-min.jpeg");
}

/**  about section end  */

/** browse section start */

.browse-jobs {
	width: 100%;
	height: auto;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--light-greyish-color);
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.browse-title {
	width: 80%;
	margin-bottom: 20px;
	text-align: center;
}

.browse-departments {
	width: 100%;
}

.browse-departments h3 {
	margin-bottom: 10px;
}

.browse-departments #departments {
	width: 100%;
	padding: 12px;
	font-size: 1rem;
	cursor: pointer;
}

.text-right {
	width: 100%;
	margin-top: 18%;
	text-align: right;
}

.text-right p {
	font-size: 0.9rem;
}

.text-right span {
	font-weight: 600;
}
/* ------------------- */
.job-search-result {
	width: 100%;
	padding-bottom: 10%;
}

.job-section {
	display: flex;
	flex-direction: column;
}

.job-section h2 {
	padding: 15px 0;
}

.job-section__row {
	padding: 15px 0;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.job-section__row:last-child {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.job-left {
	padding: 14px 0px;
	color: var(--tertiary-color);
}

.job-right span {
	font-size: 0.9rem;
}

.job-right {
	padding-bottom: 10px;
}
/* ------------------ */
/** browse section end */

/** ---- Main End ---- */

/** ---- Footer start ---- */

#footer {
	width: 100%;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	padding: 12% 8%;
}

.footer-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-top h2 {
	width: 92%;
	text-align: center;
	font-weight: 600;
}

.footer-top a {
	padding: 14px 38px;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	border-radius: 50px;
	font-size: 0.8rem;
	font-weight: 600;
}

.footer-top * {
	padding-bottom: 10%;
}

.social-icons {
	margin-top: 15%;
	width: 100%;
}

.social-icons ul {
	font-size: 1.2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	margin: 0 auto;
}

.privacy {
	margin: 7% auto 0;
	width: 100%;
}

.privacy ul {
	font-size: 0.89rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 240px;
	margin: 0 auto;
}

.privacy a {
	color: var(--primary-color);
	text-transform: capitalize;
}

.copyright {
	margin-top: 6%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.copyright h4 {
	text-align: center;
	font-size: 0.7rem;
	font-weight: normal;
	margin-bottom: 8%;
}

.copyright img {
	width: 22%;
	height: 15%;
}
/** ---- Footer End ---- */

/*---------------------------------------------------------------*/
/* * ----- MEDIA QUERIES ----- */
@media only screen and (min-width: 376px) and (max-width: 545) {
	.privacy {
		width: 100%;
	}

	.privacy ul {
		width: 240px;
	}
}

/* @media only screen and (min-width: 426px) and (max-width: 544px) { */
/** ---- Footer start ---- */
/* .copyright h4 {
		text-align: center;
		font-size: 0.8rem;
		font-weight: normal;
		margin-bottom: 8%;
	} */
/** ---- Footer End ---- */
/* } */

@media only screen and (min-width: 545px) {
	/** ---- Header Start ---- */
	.navbar {
		width: 94%;
		height: 10vh;
	}

	.raw-logo {
		height: 100%;
	}
	/** ---- Header End ---- */

	/** ---- Main Start ---- */

	.banner {
		height: 20vh;
		position: relative;
	}

	.banner-img {
		width: 96%;
		height: 42vh;
		position: absolute;
		top: 5px;
		z-index: 1;
	}

	.banner-title {
		position: absolute;
		top: 92%;
		z-index: 2;
		font-size: 1.7rem;
	}

	/** about section start */
	.about {
		/* padding: 25% 20px 8%; */
		margin-top: 150px;
	}

	.about-title h1 {
		font-size: 1.8rem;
	}

	.about-text {
		width: 70%;
	}

	.gallery {
		width: 100%;
		min-height: 65vh;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(8, 1fr);
		grid-gap: 5px;
		padding: 15px 0;
	}

	.gallery-box {
		width: 100%;
		height: auto;
		margin-bottom: 0;
		background-position: center;
		background-size: cover;
	}

	.one {
		grid-column: span 3;
		grid-row: span 8;
		background-image: url("../images/1-min.jpeg");
	}

	.two {
		grid-column: span 2;
		grid-row: span 5;
		background-image: url("../images/2-min.jpeg");
		background-position: top;
	}

	.three {
		grid-column: span 2;
		grid-row: span 4;
		background-image: url("../images/3-min.jpeg");
	}

	.four {
		grid-column: span 2;
		grid-row: span 4;
		background-image: url("../images/4-min.jpeg");
	}

	.five {
		grid-column: span 2;
		grid-row: span 3;
		background-image: url("../images/5-min.jpeg");
	}
	/** about section end */

	/** browse section start */
	.browse-title h1 {
		font-size: 1.8rem;
		margin-top: 4%;
	}

	.browse-jobs {
		padding: 40px 20px 10px;
	}

	.browse-departments {
		margin-bottom: 5%;
	}

	.browse-departments #departments {
		padding: 18px;
		font-size: 1.2rem;
		cursor: pointer;
	}

	.job-section__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.job-right {
		padding: 0;
	}

	.job-search-result {
		padding-bottom: 10%;
		position: relative;
	}

	.text-right {
		margin-top: 3%;
		position: absolute;
	}
	/** browse section end */

	/** ---- Main End ---- */

	/** ---- Footer Start ---- */
	#footer {
		padding: 12% 3% 8%;
	}

	.footer-top h2 {
		width: 100%;
		font-size: 1.8rem;
		padding-bottom: 6%;
	}

	.footer-bottom {
		margin-top: 10%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.social-icons {
		width: 18%;
		margin-top: 0;
	}

	.social-icons ul {
		width: 100%;
		justify-content: space-between;
	}

	.privacy {
		width: 240px;
		margin: 0;
	}

	.privacy ul {
		width: 100%;
	}

	.copyright {
		margin-top: 3%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.copyright img {
		width: 10%;
	}

	.copyright h4 {
		margin-bottom: 3%;
	}
	/** ---- Footer End ---- */
}

@media only screen and (min-width: 768px) {
	/** ---- Footer Start ---- */

	.privacy {
		margin: 0;
		width: 240px;
	}
	/** ---- Footer End ---- */
}

@media only screen and (min-width: 1024px) {
	/** ---- Header End ---- */

	.hamburger {
		display: none;
	}

	.navbar {
		width: 98%;
		height: 10vh;
	}

	.nav-container {
		display: block;
	}

	.nav-container {
		width: 58%;
		font-size: 0.8rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-links {
		color: var(--primary-color);
	}

	.nav-items .btn {
		padding: 14px 38px;
		background-color: var(--tertiary-color);
		color: var(--primary-color);
		border-radius: 50px;
		font-size: 0.9rem;
	}

	.banner-img {
		width: 98%;
	}

	/** ---- Header End ---- */

	/** ---- Main Start */

	/** about section start */
	.about {
		margin-top: 200px;
	}
	/** about section end */

	/**  Main End */
}

@media only screen and (min-width: 1024px) {
	/** ---- Header Start ---- */

	#header {
		padding: 16px 0;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.banner-img {
		width: 88%;
		height: 52vh;
	}

	.navbar {
		width: 88%;
	}
	/** ---- Header End ---- */

	/** ---- Main Start ---- */

	/** about sections start */
	.about {
		margin-top: 220px;
	}

	.about-text {
		width: 61%;
		font-size: 1.1rem;
	}

	/** about sections start */

	.gallery {
		width: 90%;
	}

	.browse-jobs {
		padding: 40px 90px 10px;
	}

	.gallery {
		min-height: 75vh;
	}
	/** ---- Main End ----  */

	/** ---- Footer Start ----  */

	#footer {
		padding: 8% 6% 4%;
	}

	.footer-top h2 {
		font-size: 2rem;
		padding-bottom: 4%;
	}

	.footer-top a {
		font-size: 0.9rem;
	}

	.social-icons {
		width: 12%;
	}

	.social-icons ul {
		font-size: 1.3rem;
	}

	.privacy ul {
		font-size: 0.9rem;
	}

	.copyright {
		margin-top: 2%;
	}

	.copyright h4 {
		font-size: 0.8rem;
	}

	.copyright img {
		width: 6%;
	}
	/** ---- Footer End ----  */
}
